#background-color {
    background-color: #d5dde2;
}
.navbar {
    color: white;
}
.card-size {
    min-height: 250px;;
}
.card-color {
    background-color: rgb(117, 133, 160);
    color: white;
}
.center-skill {
    margin-top: 40%;
    margin-bottom: 40%;
}
a {
    color: white;
}
.image-height {
   height: 130px;
    border-bottom: 1px solid gray;
}
.card {
    box-shadow: 3px 5px #606670;
}
.section-header-text {
    font-size: 72px;
}