#background-color {
    background-color: #d5dde2;
}
.navbar {
    color: white;
    
}
.card-color {
    /* background-color: rgb(117, 133, 160); */
    /* background-color: #42c2f4; */
    /* background-color: #ff8c00; */
    background-color: #2e3338;
    color: white;
}
.center-skill {
    margin-top: 17%;
}
a {
    color: white;
}
.image-height {
   height: 175px;
    border-bottom: 1px solid gray;
}
.card {
    box-shadow: 5px 5px 20px #606670;
}
.section-header-text {
    font-size: 72px;
}

#resume {
    box-shadow: 5px 5px 20px #606670;
}
#footer-style {
    background-color: #2e3338;
    color: white;
}
.f-awesome {
    font-size: 50px;
}
/* Grow */
.hvr-grow {
    display: inline-block;
    vertical-align: middle;
    transform: translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    backface-visibility: hidden;
    -moz-osx-font-smoothing: grayscale;
    transition-duration: 0.3s;
    transition-property: transform;
}

.hvr-grow:hover,
.hvr-grow:focus,
.hvr-grow:active {
    transform: scale(1.1);
}

.code-links {
    color: red;
}